<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0" dateCreated="2015-04-29 17:19:40Z">
	<defaultSite id="eaf5137c-d2c3-4898-b00b-5eb39a6bfbc8" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" />
</projectConfig>